@font-face {
    font-family: 'Lemon Tuesday';
    src: local('Lemon Tuesday'), local('LemonTuesday'), url('Lemontuesday.woff2') format('woff2'), url('Lemontuesday.woff') format('woff'), url('Lemontuesday.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
